.App {
  background-color: #c2c2d5;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 330px;
  height: 390px;
  background-color: black;
  border: 0.15rem solid grey;
  padding: 2px;
}
.buttons-grid{
  display: grid;
  height: 85%;
  grid-template-columns: repeat(4,1fr);
}
.display-container{
  color: white;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end ;
  font-family: cursive;
}